Source: ctt-vts-seznamcz-registry
Section: non-free/citationtech
Priority: extra
Maintainer: Vaclav Blazek <vaclav.blazek@citationtech.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://www.melown.com/maps

Package: ctt-vts-seznamcz-registry
Architecture: any
Depends: ${misc:Depends}
Description: VTS registry
 Registry of reference frames, SRS's, bound layers, credits etc.
